src/main/resources/net/unicon/cas/addons/config/cas-addons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://unicon.net/schema/cas"
            xmlns="http://unicon.net/schema/cas">

    <xsd:element name="json-services-registry" type="json-services-registryType"/>
    <xsd:complexType name="json-services-registryType">
        <xsd:attribute type="xsd:string" name="config-file" default="${service.registry.config.location:file:/etc/cas/servicesRegistry.conf}"/>
        <xsd:attribute type="xsd:boolean" name="read-write" default="false"/>
    </xsd:complexType>

    <xsd:element name="json-attribute-repository" type="json-attribute-repositoryType"/>
    <xsd:complexType name="json-attribute-repositoryType">
        <xsd:attribute type="xsd:string" name="config-file" default="${attribute.repository.config.location:file:/etc/cas/person-attributes.conf}"/>
    </xsd:complexType>

    <xsd:element name="resource-change-detector" type="resource-change-detectorType"/>
    <xsd:complexType name="resource-change-detectorType">
        <xsd:attribute type="xsd:string" name="id" use="required"/>
        <xsd:attribute type="xsd:string" name="watched-resource" use="required"/>
    </xsd:complexType>

    <xsd:element name="inspektr-log-files-audit-manager" type="xsd:string"/>

    <xsd:element name="default-authentication-support" type="xsd:string"/>

    <xsd:element name="default-events-publisher" type="xsd:string"/>

    <xsd:element name="default-registered-services-policies" type="xsd:string"/>

    <xsd:element name="default-health-check-monitor" type="xsd:string"/>

    <xsd:element name="default-test-authentication-manager" type="default-test-authentication-managerType"/>
    <xsd:complexType name="default-test-authentication-managerType">
        <xsd:attribute type="xsd:string" name="metadata-populators" use="optional"/>
    </xsd:complexType>

    <xsd:element name="stormpath-authentication-handler" type="stormpath-authentication-handlerType"/>
    <xsd:complexType name="stormpath-authentication-handlerType">
        <xsd:attribute type="xsd:string" name="access-id" use="required"/>
        <xsd:attribute type="xsd:string" name="secret-key" use="required"/>
        <xsd:attribute type="xsd:string" name="application-id" use="required"/>
    </xsd:complexType>

    <xsd:element name="authentication-manager-with-stormpath-handler" type="authentication-manager-with-stormpath-handlerType"/>
    <xsd:complexType name="authentication-manager-with-stormpath-handlerType">
        <xsd:attribute type="xsd:string" name="access-id" use="required"/>
        <xsd:attribute type="xsd:string" name="secret-key" use="required"/>
        <xsd:attribute type="xsd:string" name="application-id" use="required"/>
    </xsd:complexType>

    <xsd:element name="service-authorization-action" type="service-authorization-actionType"/>
    <xsd:complexType name="service-authorization-actionType">
        <xsd:attribute type="xsd:string" name="authorizer" use="optional"/>
    </xsd:complexType>

    <xsd:element name="disable-default-registered-services-reloading" type="xsd:string"/>

    <xsd:element name="yubikey-authentication-handler" type="yubikey-authentication-handlerType"/>
    <xsd:complexType name="yubikey-authentication-handlerType">
        <xsd:attribute type="xsd:int" name="client-id" use="required"/>
        <xsd:attribute type="xsd:string" name="secret-key" use="required"/>
        <xsd:attribute type="xsd:string" name="account-registry" use="optional"/>
    </xsd:complexType>

    <xsd:element name="user" type="userType"/>
    <xsd:complexType name="userType">
        <xsd:attribute type="xsd:string" name="name" use="required"/>
        <xsd:attribute type="xsd:string" name="password" use="required"/>
    </xsd:complexType>

    <xsd:element name="accept-users-authentication-handler" type="accept-users-authentication-handlerType"/>
    <xsd:complexType name="accept-users-authentication-handlerType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element ref="user"/>
        </xsd:choice>
        <xsd:attribute type="xsd:ID" name="id" use="optional"/>
    </xsd:complexType>

    <xsd:element name="authentication-manager-with-accept-users-handler" type="authentication-manager-with-accept-users-handlerType"/>
    <xsd:complexType name="authentication-manager-with-accept-users-handlerType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element ref="user"/>
        </xsd:choice>
        <xsd:attribute name="attribute-repository-for-principal-resolver" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:element name="bind-ldap-authentication-handler" type="bind-ldap-authentication-handlerType"/>
    <xsd:complexType name="bind-ldap-authentication-handlerType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ldap-properties">
                <xsd:complexType>
                    <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="ldap-prop">
                            <xsd:complexType>
                                <xsd:attribute name="key" type="xsd:string" use="required"/>
                                <xsd:attribute name="value" type="xsd:string" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="user-dn" type="xsd:string" use="required"/>
        <xsd:attribute name="password" type="xsd:string" use="required"/>
        <xsd:attribute name="urls" type="xsd:string" use="required"/>
        <xsd:attribute name="filter" type="xsd:string" use="required"/>
        <xsd:attribute name="search-base" type="xsd:string" use="required"/>
        <xsd:attribute name="is-pooled" type="xsd:boolean" default="false"/>
        <xsd:attribute name="ignore-partial-result-exception" type="xsd:boolean" default="true"/>
        <xsd:attribute name="expose-context-source-bean-as" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:element name="authentication-manager-with-bind-ldap-handler" type="authentication-manager-with-bind-ldap-handlerType"/>
    <xsd:complexType name="authentication-manager-with-bind-ldap-handlerType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ldap-properties">
                <xsd:complexType>
                    <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="ldap-prop">
                            <xsd:complexType>
                                <xsd:attribute name="key" type="xsd:string" use="required"/>
                                <xsd:attribute name="value" type="xsd:string" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="user-dn" type="xsd:string" use="required"/>
        <xsd:attribute name="password" type="xsd:string" use="required"/>
        <xsd:attribute name="urls" type="xsd:string" use="required"/>
        <xsd:attribute name="filter" type="xsd:string" use="required"/>
        <xsd:attribute name="search-base" type="xsd:string" use="required"/>
        <xsd:attribute name="is-pooled" type="xsd:boolean" default="false"/>
        <xsd:attribute name="ignore-partial-result-exception" type="xsd:boolean" default="true"/>
        <xsd:attribute name="expose-context-source-bean-as" type="xsd:string" use="optional"/>
        <xsd:attribute name="attribute-repository-for-principal-resolver" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:element name="disable-perf4j-timing-aspect" type="xsd:string"/>

    <xsd:element name="events-redis-recorder" type="events-redis-recorderType"/>
    <xsd:complexType name="events-redis-recorderType">
        <xsd:attribute name="event-type" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="sso-session-established"/>
                    <xsd:enumeration value="service-ticket-validated"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="redis-connection-factory" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:element name="hazelcast-ticket-registry" type="hazelcast-ticket-registryType"/>
    <xsd:complexType name="hazelcast-ticket-registryType">
        <xsd:attribute type="xsd:string" name="hazelcast-instance" use="required"/>
        <xsd:attribute type="xsd:string" name="tgt-entries-ttl-seconds" use="required"/>
        <xsd:attribute type="xsd:string" name="st-entries-ttl-seconds" use="required"/>
    </xsd:complexType>

    <xsd:element name="service-redirection-action" type="service-redirection-actionType"/>
    <xsd:complexType name="service-redirection-actionType">
        <xsd:attribute type="xsd:string" name="redirection-advisor" use="optional"/>
    </xsd:complexType>

    <xsd:element name="login-view" type="login-viewType"/>
    <xsd:complexType name="login-viewType">
        <xsd:attribute type="xsd:string" name="param" use="required"/>
        <xsd:attribute type="xsd:string" name="view" use="required"/>
    </xsd:complexType>

    <xsd:element name="request-param-login-view-selector" type="request-param-login-view-selectorType"/>
    <xsd:complexType name="request-param-login-view-selectorType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element ref="login-view"/>
        </xsd:choice>
        <xsd:attribute type="xsd:string" name="parameter-name" use="optional"/>
        <xsd:attribute type="xsd:string" name="default-view" use="optional"/>
    </xsd:complexType>

</xsd:schema>


